extends layout

block content
  include menu.jade
  div.container
    div
      div
        h1.text-center.login-title Welcome:
         div
          table(class="table")
           tr
            th Title:
            th ISBN:
            th Uploaded:
            th Download:
           each book in books
            tr
             td 
              a(href='\item=#{book.id}') #{book.title} 
             td #{book.isbn}
             td #{book.date}
             td 
              a(href='#{book.file_path}') download